[submodule "shared/molpy"]
	path = shared/molpy
	url = https://github.com/MolCrafts/molpy.git
[submodule "shared/molbase"]
	path = shared/molbase
	url = https://github.com/MolCrafts/molbase.git
[submodule "shared/molcpp"]
	path = shared/molcpp
	url = https://github.com/MolCrafts/molcpp.git
[submodule "projects/molpot"]
	path = projects/molpot
	url = https://github.com/MolCrafts/molpot.git
[submodule "shared/molvis"]
	path = shared/molvis
	url = https://github.com/MolCrafts/molvis.git
[submodule "projects/molexp"]
	path = projects/molexp
	url = https://github.com/MolCrafts/molexp.git
[submodule "external/chemfiles"]
	path = external/chemfiles
	url = https://github.com/Roy-Kid/chemfiles.git
