[submodule "molpy"]
	path = molpy
	url = https://github.com/MolCrafts/molpy.git
[submodule "molexp"]
	path = molexp
	url = https://github.com/MolCrafts/molexp.git
[submodule "molvis"]
	path = molvis
	url = https://github.com/MolCrafts/molvis.git
[submodule "molpot"]
	path = molpot
	url = https://github.com/MolCrafts/molpot.git
[submodule "chemfile-testcases"]
	path = chemfile-testcases
	url = https://github.com/molcrafts/chemfile-testcases.git
[submodule "molcore"]
	path = molcore
	url = https://github.com/Roy-Kid/molcore.git
[submodule "molpack"]
	path = molpack
	url = https://github.com/molcrafts/molpack.git
